# Compilation & Build
build/
Build/
build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt
compile_commands.json
.cmake/

# Binaries
post-it
post-it.old
post-it-client-linux.zip

# IDEs
.vscode/
.idea/
*.user

# OS
.DS_Store
*.tmp
*.log

# Flatpak
.flatpak-builder/
build-flatpak/

